<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcc.crud.dao.shareReportMapper">
  <resultMap id="BaseResultMap" type="com.fcc.crud.bean.shareReport">
    <id column="shareid" jdbcType="INTEGER" property="shareid" />
    <result column="sharename" jdbcType="VARCHAR" property="sharename" />
    <result column="reportid" jdbcType="INTEGER" property="reportid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="sharetime" jdbcType="TIMESTAMP" property="sharetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shareid, sharename, reportid, userid, username, sharetime
  </sql>
  <select id="selectByExample" parameterType="com.fcc.crud.bean.shareReportExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sharereport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sharereport
    where shareid = #{shareid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sharereport
    where shareid = #{shareid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fcc.crud.bean.shareReportExample">
    delete from sharereport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fcc.crud.bean.shareReport">
    insert into sharereport (shareid, sharename, reportid, 
      userid, username, sharetime
      )
    values (#{shareid,jdbcType=INTEGER}, #{sharename,jdbcType=VARCHAR}, #{reportid,jdbcType=INTEGER}, 
      #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{sharetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fcc.crud.bean.shareReport">
    insert into sharereport
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareid != null">
        shareid,
      </if>
      <if test="sharename != null">
        sharename,
      </if>
      <if test="reportid != null">
        reportid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="sharetime != null">
        sharetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareid != null">
        #{shareid,jdbcType=INTEGER},
      </if>
      <if test="sharename != null">
        #{sharename,jdbcType=VARCHAR},
      </if>
      <if test="reportid != null">
        #{reportid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sharetime != null">
        #{sharetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fcc.crud.bean.shareReportExample" resultType="java.lang.Long">
    select count(*) from sharereport
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sharereport
    <set>
      <if test="record.shareid != null">
        shareid = #{record.shareid,jdbcType=INTEGER},
      </if>
      <if test="record.sharename != null">
        sharename = #{record.sharename,jdbcType=VARCHAR},
      </if>
      <if test="record.reportid != null">
        reportid = #{record.reportid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.sharetime != null">
        sharetime = #{record.sharetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sharereport
    set shareid = #{record.shareid,jdbcType=INTEGER},
      sharename = #{record.sharename,jdbcType=VARCHAR},
      reportid = #{record.reportid,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      sharetime = #{record.sharetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fcc.crud.bean.shareReport">
    update sharereport
    <set>
      <if test="sharename != null">
        sharename = #{sharename,jdbcType=VARCHAR},
      </if>
      <if test="reportid != null">
        reportid = #{reportid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sharetime != null">
        sharetime = #{sharetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shareid = #{shareid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fcc.crud.bean.shareReport">
    update sharereport
    set sharename = #{sharename,jdbcType=VARCHAR},
      reportid = #{reportid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      sharetime = #{sharetime,jdbcType=TIMESTAMP}
    where shareid = #{shareid,jdbcType=INTEGER}
  </update>
</mapper>